body {
  background-color: rgba(211, 211, 211, 0.897);
}

.box {
  background-color: white;
}

.summary-text {
  font-size: 20px;
}

p {
  padding: 10px;
}

h1 {
  color: white !important;
  /* text-shadow: -1px 0 chartreuse, 0 1px chartreuse, 1px 0 chartreuse, 0 -1px chartreuse; */
}

h2 {
  color: black !important;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
}

h3 {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
}


h4 {

  text-align: center;

}

.green {
  position: relative;
  height: 200px;
  padding-top: 1px;
  margin-top: 100px;
  /* padding: 20px; */
  margin: 0;
  background: black;
  background-image: url("../images/banner_background.jpg");
  /* background-repeat: no-repeat; */
  /* background-image: url("../images/banner.png"); */
  background-attachment: fixed;
  background-position: bottom center;
  background-size: auto 203px;;
}

.banner_h1 {

  /* background-color: white; */
  background-image: linear-gradient(lightblue, lightgreen);
  width: 100%;
  border-radius: 25px;

}

.input_short {

  border:0; 
  color: green; 
  font-weight:bold;
  background-color: transparent;
  width: 50px;

}

.filter_div {

  background-color: rgb(204, 241, 204) !important; 
  border-radius: 25px; 
  width: 140px; 
  padding-top: 10px;
  margin-top: 10px;

}

#year_slider {

  margin-left: 30px;

}

fieldset {

  padding-left: 5px;

}

.ui-controlgroup.ui-controlgroup-vertical > .ui-controlgroup-label {
  text-align: center;
}